$main-font: 'Poppins', sans-serif;;
$primary: green;
$text-black: #2c2c2c;
$white: #fff;
$yellow: #FFD475;
$coral-light: #F29A8C;
$coral: #FF5A5F;
$coral-dark: #CC484C;
$pink-light: #D4BCB8;
$pink-lighter: #FEF0E6;
$pink: #FFC8D2;
$pink-dark: #AB2C43;
$blue-dark : #283845;
$gold: #8F7242;
$scarlet: #87081F;
$scarlet-dark: #5A0010;