.transport{
    padding-top: 60px;
    padding-bottom: 60px;
    color: $coral-light;
    text-align: center;

    h2{
        font-size: 40px;
        font-family: $cormont;
    }
    
   

    ul{
        list-style: none;
        padding: 0;
        margin-top: 30px;
    }

    li{
        margin-top: 16px;
        margin-bottom: 16px;
        font-size : 18px;
    }
    
    a{
        text-decoration: none;
        font-size: 16px;
        color: $coral-light;
        border-bottom: 2px solid $coral-light;
        padding-bottom: 3px;

    }

    a:visted{
        color: $white;
    }
}

@media (min-width: 576px) {
    
    
}

@media (min-width: 768px) {


  
}

@media (min-width: 992px) {
    .transport{
        padding-top: 100px;
        padding-bottom: 100px;

        color: $coral-light;
        text-align: center;
    
        h2{
            font-size: 40px;
        }
        
       
    
        ul{
            list-style: none;
            padding: 0;
            margin-top: 60px;
        }
    
        li{
            margin-top: 16px;
            margin-bottom: 16px;
            font-size : 24px;
        }
        
        a{
            text-decoration: none;
            font-size: 18px;
            color: $coral-light;
            border-bottom: 0px solid $coral-light;
            padding-bottom: 3px;
    
            &:hover{
                
    
                border-bottom: 2px solid $coral-light;
                padding-bottom: 3px;
            }
        }
    
  
}

@media (min-width: 1200px) {


  
}
}