@import './helpers/colors';
@import './helpers/fonts';
@import './helpers/animations';

@import './components/buttons';
@import './components/navbar';
@import './components/intro';
@import './components/accomodation';
@import './components/form';
@import './components/rsvp';
@import './components/transport';


* { box-sizing: Border-box }

html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: $cormont;
    margin: 0;
}

.hide { display: none; }

.section {
    height: 100vh;
    display: block;
    overflow:hidden;

    &__title{
        -ms-writing-mode:tb-rl;
        writing-mode:tb-rl;
        margin-top: 40px;
        margin-bottom: 40px;
        color: $pink-light;
    }
    &__spacer {
        display:flex;
        align-items: center;
        justify-content: center;
        height: 36vh;
        width: 4px;
        margin-left: 40px;
        background-color: $pink-light;
        overflow: hidden;
    }
}


.centre{

    display:flex;
    align-items: center;
    justify-content: center;
    
}

.venue{
    
    &__info{
    //   transform: skew(20deg);
      background: $pink-light;
      padding: 24px;
      transform: translate(100px);
      position: relative;
      z-index: 999;
    
    }
}

.black{
    color: $text-black ;
    margin-bottom: 32px;
    padding-left: 25%;
    padding-right: 25%;
    }



