@font-face {
  font-family: 'script';
  src: url("/assets/fonts/cervanttis.ttf") format("truetype");
}

@-webkit-keyframes nav_open_anim-1 {
  0% {
    -webkit-transform: translateY(-5px) scaleY(1);
            transform: translateY(-5px) scaleY(1);
  }
  10%, 90% {
    -webkit-transform: translateY(0) scaleY(0.2);
            transform: translateY(0) scaleY(0.2);
  }
  100% {
    -webkit-transform: rotate(-50deg) scaleY(1);
            transform: rotate(-50deg) scaleY(1);
  }
}

@keyframes nav_open_anim-1 {
  0% {
    -webkit-transform: translateY(-5px) scaleY(1);
            transform: translateY(-5px) scaleY(1);
  }
  10%, 90% {
    -webkit-transform: translateY(0) scaleY(0.2);
            transform: translateY(0) scaleY(0.2);
  }
  100% {
    -webkit-transform: rotate(-50deg) scaleY(1);
            transform: rotate(-50deg) scaleY(1);
  }
}

@-webkit-keyframes nav_open_anim-2 {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  10%, 90% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes nav_open_anim-2 {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  10%, 90% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes nav_open_anim-3 {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  10%, 90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
}

@keyframes nav_open_anim-3 {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  10%, 90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
}

@-webkit-keyframes nav_closed_anim-1 {
  0% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
  10%, 90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes nav_closed_anim-1 {
  0% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
  10%, 90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes nav_closed_anim-2 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  10%, 90% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes nav_closed_anim-2 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  10%, 90% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes nav_closed_anim-3 {
  0% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  10%, 90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes nav_closed_anim-3 {
  0% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  10%, 90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes list_hide {
  from {
    display: -webkit-box;
    display: flex;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes list_hide {
  from {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes list_show {
  from {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    display: -webkit-box;
    display: flex;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes list_show {
  from {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn {
  padding: 8px, 16px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  padding: 40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.nav a:hover {
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.nav__section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 99;
}

.nav__burger > span {
  background: black;
  height: 2px;
  width: calc(100% - 24px);
  position: absolute;
  border-radius: 4px;
}

.nav__burger > span:nth-child(1) {
  -webkit-animation: nav_closed_anim-1 0.9s both ease-in-out;
          animation: nav_closed_anim-1 0.9s both ease-in-out;
}

.nav__burger > span:nth-child(2) {
  -webkit-animation: nav_closed_anim-2 0.9s both ease-in-out;
          animation: nav_closed_anim-2 0.9s both ease-in-out;
}

.nav__burger > span:nth-child(3) {
  -webkit-animation: nav_closed_anim-3 0.9s both ease-in-out;
          animation: nav_closed_anim-3 0.9s both ease-in-out;
}

.nav__burger--default > span:nth-child(1) {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.nav__burger--default > span:nth-child(2) {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__burger--default > span:nth-child(3) {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.nav__burger--toggled > span:nth-child(1) {
  -webkit-animation: nav_open_anim-1 0.9s both ease-in-out;
          animation: nav_open_anim-1 0.9s both ease-in-out;
}

.nav__burger--toggled > span:nth-child(2) {
  -webkit-animation: nav_open_anim-2 0.9s both ease-in-out;
          animation: nav_open_anim-2 0.9s both ease-in-out;
}

.nav__burger--toggled > span:nth-child(3) {
  -webkit-animation: nav_open_anim-3 0.9s both ease-in-out;
          animation: nav_open_anim-3 0.9s both ease-in-out;
}

.nav__list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #D4BCB8;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 24px 0 24px;
  z-index: 1;
  -webkit-animation: list_hide 0.9s both ease-in-out;
          animation: list_hide 0.9s both ease-in-out;
}

.nav__list__item {
  margin: 8px 0;
}

.nav__list--default {
  display: none;
}

.nav__list--toggled {
  -webkit-animation: list_show 0.9s both ease-in-out;
          animation: list_show 0.9s both ease-in-out;
}

.nav__rsvp {
  padding: 16px 24px;
  background: #87081F;
  color: #8F7242 !important;
  text-align: center;
}

.nav__rsvp--desktop {
  display: none;
}

.nav__rsvp--list {
  margin: 24px;
  width: 100%;
  max-width: 160px;
}

@media (min-width: 992px) {
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 1001;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 200px;
    padding: 80px;
  }
  .nav__section {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__burger {
    display: none;
  }
  .nav__list {
    position: relative;
    background: transparent;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
    padding: 0;
    -webkit-animation: none;
            animation: none;
  }
  .nav__list__item {
    margin-right: 40px;
    margin-left: 40px;
  }
  .nav__list--default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__list--toggled {
    -webkit-animation: none;
            animation: none;
  }
  .nav__list a {
    color: #FEF0E6;
  }
  .nav__list a:hover {
    color: #fff;
  }
  .nav__rsvp {
    padding: 16px 24px;
    background: #87081F;
    color: #8F7242 !important;
    text-align: center;
  }
  .nav__rsvp--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__rsvp--list {
    display: none;
  }
}

.image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  width: 100%;
  margin: auto auto;
  overflow: hidden;
  background-image: url("../../../assets/images/00100srPORTRAIT_00100_BURST20200523120644217_COVER.png");
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-position: 35% 50%;
  background-size: cover;
  border: 20px solid #D4BCB8;
}

.intro {
  font-family: "script", "Playfair Display", serif, sans-serif;
  font-size: 36px;
  color: #D4BCB8;
}

.info {
  margin-top: 90%;
}

.info__text {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: #fff;
}

.invite {
  text-align: center;
  font-family: "Playfair Display", serif;
  padding: 100px 20px;
}

.invite h2 {
  font-size: 32px;
  color: #F29A8C;
}

.invite p {
  color: #2c2c2c;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

@media (min-width: 768px) {
  .image {
    border: 40px solid #D4BCB8;
    background-position: center top;
  }
}

@media (min-width: 992px) {
  .info {
    margin-top: 30%;
    margin-left: 45%;
  }
  .info__text {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    color: #fff;
  }
  .intro {
    font-family: "script", "Playfair Display", serif, sans-serif;
    font-size: 64px;
    color: #D4BCB8;
  }
}

@media (min-width: 1200px) {
  .info {
    margin-top: 15%;
    margin-left: 50%;
  }
  .info__text {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    color: #fff;
  }
  .intro {
    font-family: "script", "Playfair Display", serif, sans-serif;
    font-size: 88px;
    color: #D4BCB8;
  }
}

.accomodation {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #FEF0E6;
  color: #F29A8C;
  text-align: center;
}

.accomodation h2 {
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

.accomodation p {
  font-size: 14px;
}

.accomodation ul {
  list-style: none;
  padding: 0;
}

.accomodation li {
  margin-top: 16px;
  margin-bottom: 16px;
}

.accomodation a {
  text-decoration: none;
  font-size: 16px;
  color: #F29A8C;
  border-bottom: 2px solid #F29A8C;
  padding-bottom: 3px;
}

.accomodation a:visted {
  color: #fff;
}

@media (min-width: 992px) {
  .accomodation {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #FEF0E6;
    color: #F29A8C;
    text-align: center;
  }
  .accomodation h2 {
    font-size: 40px;
    font-family: "script", "Playfair Display", serif, sans-serif;
  }
  .accomodation p {
    font-size: 14px;
  }
  .accomodation ul {
    list-style: none;
    padding: 0;
  }
  .accomodation li {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .accomodation a {
    text-decoration: none;
    font-size: 18px;
    color: #F29A8C;
    border-bottom: 0px solid #F29A8C;
    padding-bottom: 3px;
  }
  .accomodation a:hover {
    border-bottom: 2px solid #F29A8C;
    padding-bottom: 3px;
  }
}

.form__container {
  width: 600px;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input {
  height: 24px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.field {
  display: block;
  width: 50%;
}

label {
  width: 100%;
}

* {
  -webkit-box-sizing: Border-box;
          box-sizing: Border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Playfair Display", serif;
  margin: 0;
}

.hide {
  display: none;
}

.section {
  height: 100vh;
  display: block;
  overflow: hidden;
}

.section__title {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: tb-rl;
          writing-mode: tb-rl;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #D4BCB8;
}

.section__spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36vh;
  width: 4px;
  margin-left: 40px;
  background-color: #D4BCB8;
  overflow: hidden;
}

.centre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.venue__info {
  background: #D4BCB8;
  padding: 24px;
  -webkit-transform: translate(100px);
          transform: translate(100px);
  position: relative;
  z-index: 999;
}
/*# sourceMappingURL=styles.css.map */